/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-1b94e-t2xae5yu.master.item-box    {
	min-height: 603px;
}
 
 #vbid-1b94e-xxncbhmi   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-1b94e-akcu5frf   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-1b94e-bpnk0ljx.master.item-box    {
	min-height: 350px;
}
 
 #vbid-1b94e-cfs83cnx   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-1b94e-abe2jiop.master.item-box    {
	min-height: 147px;
}
 
 #vbid-1b94e-lcrxf5tg.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 297px;
}
 
 #vbid-1b94e-ze6ca4ya.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 114px;
} 
 #vbid-1b94e-ze6ca4ya.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1b94e-m3de5d1g   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-1b94e-jwas5t6p   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-1b94e-ik5couet.master.item-box    {
	min-height: 773px;
}
 
 #vbid-1b94e-naxadr3a.master.item-box    {
	padding-top: 0px;
	padding-bottom: 40px;
	min-height: 138px;
} 
 #vbid-1b94e-naxadr3a.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1b94e-4zx15b00.master.item-box    {
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 91px;
}
 
 #vbid-1b94e-nwz5katk.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
}
 
 #vbid-1b94e-vbo4bada   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-1b94e-fj34vurx.master.item-box    {
	padding-top: 0px;
	min-height: 377px;
}
 
 #vbid-1b94e-nb5ob6z1.master.item-box    {
	min-height: 422px;
}
 
 #vbid-1b94e-jspaicia.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 402px;
}
 
 #vbid-1b94e-w4d2s9lc   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-1b94e-4kidt4v5.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 778px;
}
 
 #vbid-1b94e-cowsbfc9   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-1b94e-vh7fkkbo   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-1b94e-e3rqzl6a   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-1b94e-psb3rgcy.master.item-box    {
	min-height: 375px;
} 
 #vbid-1b94e-psb3rgcy.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1b94e-egehcvay   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-1b94e-kblbf1vb.master.item-box    {
	min-height: 429px;
} 
 #vbid-1b94e-kblbf1vb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1b94e-vcu8rpfk   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-1b94e-svwfu3ev.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 114px;
}
 
 #vbid-1b94e-ddjb1jah.master.item-box    {
	min-height: 699px;
}
 
 #vbid-1b94e-aemf9anh.master.item-box    {
	padding-top: 20px;
	padding-bottom: 0px;
	min-height: 114px;
} 
 #vbid-1b94e-aemf9anh.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1b94e-ejtasgyo.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 367px;
}
 
 #vbid-1b94e-d78f5bhx   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-1b94e-eybbl24p   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-1b94e-yxdrd0q9.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 294px;
}
 
 #vbid-1b94e-xjscgm5f   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-1b94e-u5pakbip   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-1b94e-yge9df0j   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-1b94e-jrfae4fw.master.item-box    {
	padding-top: 25px;
	padding-bottom: 25px;
	min-height: 161px;
} 
 #vbid-1b94e-jrfae4fw.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1b94e-exmdt1ej.master.item-box    {
	min-height: 347px;
}
 
 #vbid-1b94e-fywyndm6.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 275px;
}
 
 #vbid-1b94e-bv3aeudq.master.item-box    {
	padding-top: 0px;
	min-height: 811px;
}
 
 #vbid-1b94e-btovfjjg.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-1b94e-wp9gzzwb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 226px;
} 
 #vbid-1b94e-wp9gzzwb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-1b94e-4r5pei8p.master.item-box    {
	min-height: 700px;
}
 
 #vbid-1b94e-bsaocla5   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-1b94e-ggpwhced   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-1b94e-qp3yt4xg   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-1b94e-blchyjnz.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 380px;
}
 
 #vbid-1b94e-w8gfp7sp.master.item-box    {
	min-height: 419px;
}
 
 #vbid-1b94e-ky4bc7db.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 281px;
}
 
 #vbid-1b94e-gzhfxea6   {
	background-position: 50% 31.2688827514648%;
}
 
 #vbid-1b94e-qpp67bpz   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-1b94e-sg4hwowd   {
	background-position: 12.0986547470093% 42.2062797546387%;
}

 
 #vbid-1b94e-xmo468uv   {
	background-position: 53.9237670898438% 51.5926666259766%;
}