/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1b94e-bxkkq3bz
 *                                 	 
 ******************************************************************************************************/
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz.master.item-box   {
		
						position: relative;
						background-color: rgb(0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-item-links span:hover  ,  .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-element.Link.hover-tester  { 
						color: rgb(67, 67, 67);
						background-color: rgba(147, 147, 147, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz.master.item-box   {
		
						padding-left: 3%;
						width: 94%;
						padding-right: 3%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-item-links  {
		
						text-align: center;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						max-width: 2000px;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						background-color: rgba(248, 248, 248, 0);
						text-align: left;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-item-links span  ,  .style-1b94e-draecld2 .style-1b94e-bxkkq3bz #sr-basket-widget *  { 
						font-size: 10px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						padding-bottom: 28px;
						border-color: rgb(246, 246, 246);
						letter-spacing: 0.05em;
						max-width: 1150px;
						padding-right: 10px;
						padding-left: 10px;
						padding-top: 28px;
						font-family: Montserrat;
						background-color: rgba(255, 255, 255, 0);
						margin-left: 0px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-title  ,  .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-body h1  { 
						font-size: 12px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.1em;
						margin-left: 0px;
						font-family: Montserrat;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-item-links.allow-bg-color  ,  .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .submenu  { 
						background-color: rgb(255, 255, 255);	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .stripe-background  {
		
						margin-left: -3%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-element.icon-source  {
		
						margin-right: 5px;
						margin-top: 10px;
						margin-left: 5px;
						width: 50px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: left;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .middle_layout .helper-div  ,  .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-subtitle  ,  .style-1b94e-draecld2 .style-1b94e-bxkkq3bz .preview-body h2  { 
						font-size: 10px;
						text-transform: uppercase;
						color: rgb(67, 67, 67);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 10px;
						font-family: Arial;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
