/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1b94e-jlvqqwss
 *                                 	 
 ******************************************************************************************************/
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview.image-cover  {
		
						min-height: 210px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss  .preview-content-holder  {
		
						border-color: rgb(255, 255, 255);
						max-width: 650px;
						margin-right: 0px;
						margin-top: 25px;
						margin-left: 0px;
						margin-bottom: 25px;
						background-color: rgba(9, 9, 9, 0);
						text-align: center;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .item-content:not(.blocks_layout)  {
		
						background-color: rgb(244, 242, 235);	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .inner-pic  {
		
						opacity: 0.28;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-subtitle-holder  {
		
						max-width: 900px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .background-div  {
		
						opacity: 0.2;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-title  ,  .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-body h1  { 
						font-family: 'Times New Roman';
						font-size: 17px;
						text-transform: uppercase;
						color: rgb(0, 0, 0);
						letter-spacing: 0em;
						margin-top: 10px;
						line-height: 0.5em;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss.master.item-box   {
		
						padding-left: 0%;
						width: 100%;
						padding-right: 0%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-item-links span  ,  .style-1b94e-draecld2 .style-1b94e-jlvqqwss #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 12px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(255, 255, 255);
						letter-spacing: 0.1em;
						padding-right: 20px;
						margin-top: 20px;
						padding-left: 20px;
						padding-top: 10px;
						border-width: 1px;
						background-color: rgb(170, 142, 35);	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .stripe-background  {
		
						margin-left: 0%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-element.icon-source  {
		
						border-color: rgb(255, 255, 255);
						margin-top: 5px;
						margin-bottom: 5px;
						width: 100px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-icon-holder  {
		
		    			-webkit-filter: invert(0%);filter: invert(0%);
						margin-bottom: 40px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-item-links span:hover  ,  .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgba(24, 45, 66, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .inner-pic-holder  {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-body  {
		
						line-height: 1.8em;
						font-size: 13px;
						color: rgb(0, 0, 0);
						letter-spacing: 0em;
						max-width: 600px;
						margin-top: 20px;
						margin-bottom: 15px;
						font-family: Arial;	
		}
	
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .middle_layout .helper-div  ,  .style-1b94e-draecld2 .style-1b94e-jlvqqwss .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-subtitle  ,  .style-1b94e-draecld2 .style-1b94e-jlvqqwss .preview-body h2  { 
						font-style: italic;
						font-size: 18px;
						color: rgb(15, 25, 45);
						letter-spacing: 0em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						font-family: Montserrat;
						line-height: 1.3em;
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

 .style-1b94e-jlvqqwss #vbid-1b94e-ejld7cwn .preview-content-holder{
				
							text-align : center;
					
				}













 .style-1b94e-jlvqqwss #vbid-1b94e-ejld7cwn .preview-content-wrapper{
				
							text-align : center;
					
				}









/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
