/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1b94e-mj1sdsvq
 *                                 	 
 ******************************************************************************************************/
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq  .preview-content-holder  {
		
						text-align: center;
						max-width: 750px;
						margin-right: 0px;
						margin-top: 20px;
						margin-left: 0px;
						margin-bottom: 20px;
						background-color: rgba(159, 80, 80, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .item-content:not(.blocks_layout)  {
		
						background-color: rgb(30, 30, 30);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-form .Field  {
		
						font-family: Arial;
						font-size: 14px;
						padding-bottom: 15px;
						border-color: rgb(9, 9, 9);
						max-width: 600px;
						padding-right: 10px;
						padding-left: 10px;
						padding-top: 15px;
						border-width: 0px;
						background-color: rgb(209, 209, 209);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-form .Field:hover  ,  .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-form .Field.hover-tester:not(.placeholder-mode)  { 
						color: rgb(0, 0, 0);
						background-color: rgb(209, 209, 209);
						color: rgb(67, 67, 67);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-form .Field:not(.placeholder-mode):not(:hover)  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .background-div  {
			
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq.master.item-box   {
		
						background-color: rgb(2, 2, 2);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-title  ,  .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-body h1  { 
						font-size: 20px;
						text-transform: uppercase;
						color: rgb(237, 237, 237);
						letter-spacing: 0.05em;
						margin-bottom: 15px;
						font-family: Montserrat;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-item-links span  ,  .style-1b94e-draecld2 .style-1b94e-mj1sdsvq #sr-basket-widget *  { 
						font-size: 12px;
						font-weight: bold;
						color: rgb(15, 25, 45);
						padding-bottom: 15px;
						border-color: rgb(131, 131, 131);
						letter-spacing: 0.1em;
						padding-right: 30px;
						margin-top: 15px;
						padding-left: 30px;
						padding-top: 15px;
						margin-bottom: 30px;
						font-family: Montserrat;
						background-color: rgb(225, 161, 72);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-element.icon-source  {
		
						margin-bottom: 25px;
						width: 50px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-form .Field.placeholder-mode:not(:hover)  {
		
						color: rgb(0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-item-links span:before  ,  .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .effect-tester  { 
						background-color: rgb(90, 90, 90);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-body-holder  {
		
						max-width: 600px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-item-links span:hover  ,  .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(225, 161, 72);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .inner-pic-holder  {
		
						background-color: rgb(15, 25, 45);	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-body  {
		
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.25em;
						max-width: 800px;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .field-holder  {
			
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .middle_layout .helper-div  ,  .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-subtitle  ,  .style-1b94e-draecld2 .style-1b94e-mj1sdsvq .preview-body h2  { 
						font-family: Oswald;
						font-size: 66px;
						text-transform: uppercase;
						color: rgb(244, 203, 74);
						letter-spacing: 0em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 70px;
						line-height: 1.2em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
