/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1b94e-nd6d6gsj
 *                                 	 
 ******************************************************************************************************/
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .title-holder  {
		
						text-align: center;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .Title  ,  .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .Body h1  { 
						color: #8a7373;
						font-size: 36px;
						font-family: open-sans;
						letter-spacing: 0.15em;
						font-weight: bold;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: center;
						max-width: 300px;
						padding-right: 0px;
						margin-top: 40px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 40px;
						border-color: rgb(60, 60, 60);
						padding-left: 0px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-divider  {
		
						border-bottom-width: 1px;
						width: 30%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .inner-pic  {
		
						opacity: 0.19;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						font-family: 'Times New Roman';
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						border-width: 1px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -4%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .multi_layout .helper-div.middle-center  {
		
						padding-left: 4%;
						padding-right: 4%;
						width: 92%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .background-div  {
			
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj.master.item-box   {
		
						background-color: rgb(232, 232, 230);	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-title  ,  .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-body h1  { 
						font-family: Raleway;
						font-size: 16px;
						color: rgb(15, 25, 45);
						letter-spacing: 0em;
						font-weight: bold;
						margin-top: 5px;
						line-height: 1.2em;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj.master.item-box   {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-item-links span  ,  .style-1b94e-draecld2 .style-1b94e-nd6d6gsj #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 12px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(122, 122, 122);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 15px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 30px;
						border-width: 1px;
						background-color: rgb(170, 142, 35);	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .stripe-background  {
		
						opacity: 0.22;
						margin-left: -6%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-element.icon-source  {
		
						padding-top: 0px;
						margin-bottom: 10px;
						margin-top: 5px;
						width: 40px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .Subtitle  ,  .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: top;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-item-links span:hover  ,  .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-body  {
		
						line-height: 1.6em;
						font-size: 12px;
						color: rgb(65, 65, 65);
						max-width: 500px;
						margin-right: 0px;
						margin-top: 15px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-subtitle  ,  .style-1b94e-draecld2 .style-1b94e-nd6d6gsj .preview-body h2  { 
						font-family: Arial;
						font-size: 16px;
						color: rgb(58, 58, 58);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						line-height: 1.4em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/



























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
