/*CACHED*//******************************************************************************************************
 *            DYNAMIC STYLE FOR style-1b94e-j3vhz5xb
 *                                 	 
 ******************************************************************************************************/
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb.master.item-box   {
		
						background-color: rgb(255, 255, 255);	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-title  ,  .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-body h1  { 
						font-size: 17px;
						text-transform: uppercase;
						color: rgb(15, 25, 45);
						letter-spacing: 0em;
						margin-right: 0px;
						margin-top: 20px;
						margin-left: 0px;
						margin-bottom: 5px;
						font-family: Oswald;
						background-color: rgba(11, 11, 11, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-link-img  {
		
						width: 33px;
						margin: 8px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb.master.item-box   {
		
						padding-left: 0%;
						width: 100%;
						padding-right: 0%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-subtitle  ,  .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-body h2  { 
						line-height: 1.2em;
						font-size: 14px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.0em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						font-family: Arial;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb  .preview-content-holder  {
		
						text-align: center;
						max-width: 500px;
						margin-right: 0px;
						margin-top: 40px;
						margin-left: 0px;
						margin-bottom: 40px;
						background-color: rgba(246, 239, 217, 0);	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-item-links span  ,  .style-1b94e-draecld2 .style-1b94e-j3vhz5xb #sr-basket-widget *  { 
						color: #ffffff;
						font-family: Arial;
						font-size: 13px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .item-content:not(.blocks_layout)  {
		
						background-color: rgb(225, 161, 72);	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-subtitle-holder  {
		
						text-align: center;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-body  {
		
						color: rgb(104, 104, 104);
						margin-bottom: 5px;
						font-size: 14px;
						background-color: rgba(255, 255, 255, 0);
						margin-top: 5px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						padding-right: 0px;
						margin-top: 0px;
						padding-left: 0px;
						margin-bottom: 0px;
						width: 50px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 20px;
						margin-left: 5px;
						margin-right: 5px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .preview-body-holder  {
		
						text-align: left;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .stripe-background  {
		
						margin-left: 0%;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .middle_layout .helper-div  ,  .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-1b94e-draecld2 .style-1b94e-j3vhz5xb .background-div  {
		
						color: rgb(255, 255, 255);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
